menu "Platform"

choice
	prompt "Platform"

config PLAT_QEMU_RISCV_VIRT
	depends on ARCH_RISCV
	bool "QEMU RISCV Virt Machine"

config PLAT_QEMU_AARCH64_VIRT
	depends on ARCH_ARM64
	bool "QEMU AARCH64 Virt Machine"

config PLAT_SG2042
	bool "SG2042"

config PLAT_SG2044
	bool "SG2044"
	select RISCV_CMO

config PLAT_BM1690TP
	bool "BM1690 TPU SCALAR"
	select RISCV_CMO

endchoice

config PLAT
	string
	default "QEMU-RISCV-Virt" if PLAT_QEMU_RISCV_VIRT
	default "QEMU-AARCH64-Virt" if PLAT_QEMU_AARCH64_VIRT
	default "SG2042" if PLAT_SG2042
	default "SG2044" if PLAT_SG2044
	default "BM1690TP" if PLAT_BM1690TP
	default "unknown-platform"

choice
	prompt "Target"

config TARGET_EMULATOR
	bool "EDA Emulator"
	help
	ic design EDA emulation

config TARGET_PALLADIUM
	bool "Cadence Palladium"
	help
	cadence palladium emulation

config TARGET_FPGA
	bool "FPGA"
	help
	FPGA emulation

config TARGET_ASIC
	bool "ASIC"
	help
	real chip

endchoice

config TARGET
	string
	default "ASIC" if TARGET_ASIC
	default "FPGA" if TARGET_FPGA
	default "PALLADIUM" if TARGET_PALLADIUM
	default "EMULATOR" if TARGET_EMULATOR

endmenu
