CONFIG_RAM_START=0x80000000
CONFIG_RAM_SIZE=0x01000000
CONFIG_ARCH_SET_TIMER_FREQ=y
CONFIG_ARCH_TIMER_FREQ=10000000
CONFIG_SUPPORT_SMP=y
CONFIG_SMP_NUM=128
CONFIG_SUPPORT_BUILTIN_DTB=y
CONFIG_BUILTIN_DTB="qemu-virt.dtb"
CONFIG_TARGET_ASIC=y
CONFIG_CC_OPTIMIZE_NONE=y
CONFIG_MULTI_THREAD=y
CONFIG_DRIVER_SERIAL_NS16550=y
CONFIG_DRIVER_PLATFORM=y
CONFIG_TEST=y
CONFIG_TEST_MULTI_THREAD=y
