CONFIG_RAM_START=0x90000000
CONFIG_RAM_SIZE=0x200000
CONFIG_ARCH_SET_TIMER_FREQ=y
CONFIG_ARCH_TIMER_FREQ=50000000
CONFIG_SUPPORT_SMP=y
CONFIG_SMP_NUM=64
CONFIG_SUPPORT_BUILTIN_DTB=y
CONFIG_BUILTIN_DTB="sg2044.dtb"
CONFIG_PLAT_SG2044=y
CONFIG_TARGET_ASIC=y
CONFIG_DRIVER_SERIAL_NS16550=y
CONFIG_DRIVER_PLATFORM=y
CONFIG_DRIVER_BLOCK_DEVICE=y
CONFIG_DRIVER_BLOCK_DEVICE_SDHCI_DWC=y
CONFIG_DRIVER_MTD=y
CONFIG_DRIVER_BOOT_DEVICE=y
CONFIG_SOPHGO_FAT_BOOT_DEVICE_FRAMEWORK=y
CONFIG_SOPHGO_CONFIG_BOOT_DEVICE_FRAMEWORK=y
CONFIG_SOPHGO_MTD_BOOT_DEVICE_FRAMEWORK=y
