CONFIG_RAM_START=0x0
CONFIG_RAM_SIZE=0x2000000
CONFIG_ARCH_SET_TIMER_FREQ=y
CONFIG_ARCH_TIMER_FREQ=50000000
CONFIG_SUPPORT_SMP=y
CONFIG_SMP_NUM=64
CONFIG_PLAT_SG2044=y
CONFIG_TARGET_ASIC=y
CONFIG_CC_OPTIMIZE_NONE=y
CONFIG_DRIVER_SERIAL_NS16550=y
CONFIG_DRIVER_EFUSE=y
CONFIG_DRIVER_SD=y
CONFIG_DRIVER_SPI_FLASH=y
CONFIG_DRIVER_IO=y
CONFIG_TEST=y
