CONFIG_RAM_START=0x50b5140000
CONFIG_RAM_SIZE=0x40000
CONFIG_ARCH_SET_TIMER_FREQ=y
CONFIG_ARCH_TIMER_FREQ=50000000

CONFIG_TARGET_PALLADIUM=y
CONFIG_PLAT_SG2380=y

CONFIG_DRIVER_SERIAL_NS16550=y

CONFIG_TEST=y

CONFIG_SUPPORT_SMP=y
CONFIG_SMP_NUM=16

CONFIG_DRIVER_IO=y
CONFIG_DRIVER_SD=y
CONFIG_DRIVER_EFUSE=y
CONFIG_DRIVER_SPI_FLASH=y
CONFIG_DRIVER_PCIE=y
CONFIG_DRIVER_WDT=y
CONFIG_DRIVER_DDR=y
CONFIG_DRIVER_PCIE=y

CONFIG_CC_OPTIMIZE_FOR_SIZE=y
