CONFIG_RAM_START=0xa0000000
CONFIG_RAM_SIZE=0x40000
CONFIG_STACK_SIZE=0x1000
CONFIG_ARCH_SET_TIMER_FREQ=y
CONFIG_ARCH_TIMER_FREQ=50000000

CONFIG_TARGET_PALLADIUM=y
CONFIG_PLAT_X280=y

CONFIG_SUPPORT_SMP=y
CONFIG_SMP_NUM=4

CONFIG_DRIVER_SERIAL_NS16550=y

CONFIG_TEST=y

CONFIG_CC_OPTIMIZE_FOR_SIZE=y
