/dts-v1/;

/ {
	soc {
		#address-cells = <2>;
		#size-cells = <2>;

		serial@10000000 {
			compatible = "ns16550a";
			reg = <0x00000000 0x10000000 0x00000000 0x00001000>;
			clock-frequency = <0x384000>;
			current-speed = <115200>;
			reg-shift = <0>;
			reg-io-width = <1>;
			stdio;
 		};

		clint@2000000 {
			reg = <0x00 0x2000000 0x00 0x10000>;
			compatible = "riscv,clint0";
		};
	};
};
