menuconfig DRIVER_MTD
	bool "Support Memory Technology Device Model"
	select DRIVER_DEVICE_MODEL
	default	n
	help
		Support memory technology device driver model.

if DRIVER_MTD

config DRIVER_MTD_SOPHGO_SPIFMC
	bool "SOPHGO SPI NOR Flash Memory Controller"
	default n
	help
		SOPHGO SPI NOR Flash Memory Controller.

endif
